<div class = "banner">
  Play games with
  <div class="dropping-texts">
    <div>Friends</div>
    <div>Family</div>
    <div>Colleagues</div>
    <div>EVERYONE!</div>
  </div>
  <h1>Welcome on Night-Game</h1>
  <p>The best board game marketplace</p>
</div>
