<div class = "banner home-banner">
  <h1>Night-Game</h1>
  Have a blast with
  <div class="dropping-texts">
    <div>Friends</div>
    <div>Family</div>
    <div>Colleagues</div>
    <div>EVERYONE!</div>
  </div>
  <p> Rent a game</p>
  <form class="flex my-2 my-lg-0">
    <input class="search-bar" name="query" type="search" placeholder="Search" value="<%= params[:query] %>">
    <button class="btn-submit-round" type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>
