<div class = "banner home-banner">
  <h1>Night-Game</h1>
  Have a blast with
  <div class="dropping-texts">
    <div>Friends</div>
    <div>Family</div>
    <div>Colleagues</div>
    <div>EVERYONE!</div>
  </div>
  <p> Rent a game</p>
  <form class="search-bar-home">
    <input class="search-bar-left" name="query_game" type="search" placeholder="Game..." value="<%= params[:query_game] %>">
    <input class="search-bar-right" name="query_city" type="search" placeholder="City..." value="<%= params[:query_city] %>">
    <button class="btn-submit-round" type="submit"><i class="fas fa-search"></i></button>
  </form>
</div>
