<div class="pop-up">
  <div class="pop-up-image">
    <%=cl_image_tag game.photos.first.key%>
  </div>
  <div class="info-pop">
    <h2><%= link_to game.name, game_path(game) %></h2>
    <p><%= game.address %></p>
  </div>
</div>
