// card stylesheet.
.card-trip {
  overflow: hidden;
  background: $dark-purple;
  border: 1px solid $purple;
  border-radius: 10px;
  width: 322px;
  margin-top: 45px;
}

.card-trip > img {
  height: 215px;
  width: 322px;
  object-fit: cover;
}

.card-trip h2 {
  color: $light-gray;
  font-family: $headers-font;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}

.card-trip p {
  font-size: 12px;
  opacity: 1;
  margin: 0;
}

.card-trip-infos .symbol i {
  color: #F4F4F4;
}

.card-trip-infos .symbol p {
  color: #F4F4F4;
  font-family: $body-font;
}

.symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters{
  background-color: rgba($color: #670099, $alpha: 0.2);
  padding: 4px;
  border-radius: 4px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 287px;
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-pricing {
  color:aliceblue;
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.btn-card {
  text-decoration: none;
}


// this is the html format you should use:

// <div class="container">
//   <div class="card-trip">
//     <img src="https://tse2.mm.bing.net/th?id=OIP.NWxz-CpsiOKJgAscXep7QgHaE8&pid=Api&P=0&w=260&h=173" />
//     <div class="card-trip-infos">
//       <div>
//         <h2>The best escape game you will ever play.</h2>
//         <div class="filters">
//           <div class="symbol">
//             <i class="fas fa-coins"></i>
//             <p> 9.00$ </p>
//           </div>
//           <div class="symbol">
//             <i class="fas fa-user-friends"></i>
//             <p>10-11 players</p>
//           </div>
//           <div class="symbol">
//             <i class="fas fa-clock"></i>
//             <p>200 mins</p>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>


.card-product {
  overflow: hidden;
  height: 150px;
  background: none;
  display: flex;
  align-items: center;
  border: 1px solid $pink;
  border-radius: 15px;
  margin: 30px auto;
  width: 100%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: $body-font;
  margin: 0;
}

.card-product .card-product-infos {
  padding: 16px;
}


.icon-status a {
  text-decoration: none;
  color: white;
  font-family: $body-font;
  margin-top: 7px;
  margin-right: 5px;
  opacity: 0.5;
  transition: 1s;
  &:hover {
    transition: 1s;
    opacity: 1;
  }
}


.booking-card {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px 30px;
  justify-content: space-between;
  .update-status {
    display: flex;
    flex-direction: column;
  }
}

.update-status i {
  font-size: 40px;
  margin: 15px 0;
  text-decoration: none;
}

.fa-check-circle {
  color: green;
  opacity: 0.5;
  transition: 1s;
  &:hover {
    transition: 1s;
    opacity: 1;
  }
}


.fa-times-circle {
  color: red;
  opacity: 0.5;
  transition: 1s;
  &:hover {
    transition: 1s;
    opacity: 1;
  }
}
