.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.pop-up-image {
 max-height: 50%;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}


.map-home {
  margin-top: 42px;
  position: sticky;
  top: 56px;
  height: 90vh;
}
